# Visual Studio / .NET Core
.vs/
[Bb]in/
[Oo]bj/

# macOS
.DS_Store

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE / Editor
.idea/
.vscode/
*.swp

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# Docker
.docker/
docker-compose.override.yml
